In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

## Store Part I results into DataFrame

Load the csv exported in Part I to a DataFrame

In [15]:
# read the cities.csv to create dataframe, previous cells are not needed to be executed as long as cities.csv was created
cities = pd.read_csv("output_data/cities.csv", encoding="utf-8")
cities.head()

,city_id,City,Country,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,0,busselton,AU,100,67,-33.6500,115.3333,66.99,3.00
1,1,east london,ZA,0,77,-33.0153,27.9116,59.00,4.61
2,2,thompson,CA,20,74,55.7435,-97.8558,26.60,6.91
3,3,saint-philippe,RE,0,57,-21.3585,55.7679,82.40,2.30
4,4,arraial do cabo,BR,64,76,-22.9661,-42.0278,71.26,5.84

## Humidity Heatmap

Configure gmaps.
Use the Lat and Lng as locations and Humidity as the weight.
Add Heatmap layer to map.

In [16]:
humidity = cities["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = cities[["Latitude", "Longitude"]]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

## Create new DataFrame fitting weather criteria

Narrow down the cities to fit weather conditions.
Drop any rows will null values.

In [17]:
narrowed_city_df = cities.loc[(cities["Max Temp"] > 70) & (cities["Max Temp"] < 80) & (cities["Cloudiness"] == 0), :]
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
del narrowed_city_df['index']
narrowed_city_df.head()

,city_id,City,Country,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,106,pitimbu,BR,0,94,-7.4706,-34.8086,73.40,5.75
1,149,obligado,PY,0,83,-27.0333,-55.6333,73.40,4.61
2,171,sohag,EG,0,22,26.5570,31.6948,75.20,6.91
3,199,geraldton,AU,0,25,-28.7667,114.6000,78.80,10.36
4,305,awbari,LY,0,9,26.5921,12.7805,78.33,10.98

## Hotel Map

Store into variable named hotel_df.
Add a "Hotel Name" column to the DataFrame.
Set parameters to search for hotels with 5000 meters.
Hit the Google Places API for each city's coordinates.
Store the first Hotel result into the DataFrame.
Plot markers on top of the heatmap.

In [18]:
hotellist = []

for i in range(len(narrowed_city_df)):
    lat = narrowed_city_df.loc[i]['Latitude']
    lng = narrowed_city_df.loc[i]['Longitude']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")
narrowed_city_df["Hotel Name"] = hotellist
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.head(50)

,city_id,City,Country,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
0,106,pitimbu,BR,0,94,-7.4706,-34.8086,73.40,5.75,Pitimbu
1,149,obligado,PY,0,83,-27.0333,-55.6333,73.40,4.61,Hohenau
2,171,sohag,EG,0,22,26.5570,31.6948,75.20,6.91,Sohag
3,199,geraldton,AU,0,25,-28.7667,114.6000,78.80,10.36,Geraldton
4,305,awbari,LY,0,9,26.5921,12.7805,78.33,10.98,Awbari‎
5,402,krasnyy yar,RU,0,40,46.5331,48.3456,71.60,8.95,Krasnyy Yar
6,404,geri,CY,0,53,35.1000,33.4167,73.40,4.61,Strovolos
7,449,buraydah,SA,0,31,26.3260,43.9750,77.00,4.61,Buraydah
8,460,asyut,EG,0,25,27.1810,31.1837,75.20,12.66,Asyut
9,463,presidencia roque saenz pena,AR,0,84,-26.7852,-60.4388,73.00,1.99,Presidencia Roque Sáenz Peña
10,568,atar,MR,0,23,20.5169,-13.0499,76.33,9.08,Atar

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = narrowed_city_df[["Latitude", "Longitude"]]

In [20]:
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))